.game {
  position: relative;
  height: 100%;
}

.game-field {
  position: absolute;
  top: 50%;
  width: 100%;
  margin: 0 auto;
  // display: flex;
  // flex-wrap: wrap;
  display: grid;
  justify-content: center;
}

.game-field__item {
  margin-right: 20px;
  margin-bottom: 20px;
}

.game-field {

  &_small {
    margin-top: -210px;
    grid-template-rows: repeat(2, 140px);
    grid-template-columns: repeat(6, 100px);
    grid-gap: 10px;
  }

  &_medium {
    margin-top: -210px;
    grid-template-rows: repeat(3, 140px);
    grid-template-columns: repeat(6, 100px);
    grid-gap: 10px;
  }

  &_large {
    margin-top: -210px;
    grid-template-rows: repeat(3, 140px);
    grid-template-columns: repeat(8, 100px);
    grid-gap: 10px;
  }
}

.statistics {
  display: flex;
  justify-content: center;
  width: 100%;
}